{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Eatsy, your go-to destination for fast, fresh, and delicious meals delivered straight to your doorstep. We are passionate about bringing convenience and quality together, ensuring that you enjoy your favorite dishes anytime, anywhere.</p>
            <p>At Eatsy, we are more than just a food delivery service—we are a community of food enthusiasts dedicated to making every meal an experience. Our goal is to bridge the gap between local restaurants and food lovers, offering a seamless platform that brings high-quality meals to your doorstep with just a few clicks.</p>
            <p>Founded with a vision to revolutionize the food delivery experience, Eatsy was born out of a love for great food and a commitment to exceptional service. We partner with the best local restaurants and chefs to offer a diverse menu that caters to every craving. Whether you’re in the mood for comfort food, healthy eats, or gourmet delights, we’ve got you covered.</p>
        </div>
    </div>
</div>
{% endblock content %}